<launch>
  <arg name="camera_name" default="kinect" />
  <arg name="image_topic" default="/camera/rgb/image_raw" />
  <arg name="camera" default="/camera/rgb" />
  <arg name="size" default="8x6" />
  <arg name="square" default="0.059" />

  <include if="$(eval arg('camera_name') == 'kinect')" file="$(find freenect_launch)/launch/freenect.launch" />
  <include if="$(eval arg('camera_name') == 'astra')" file="$(find astra_launch)/launch/astra.launch" />
  <node name="camera_calibration" pkg="camera_calibration" type="cameracalibrator.py" args="image:=$(arg image_topic) camera:=$(arg camera) --size $(arg size) --square $(arg square)" />
</launch>