<launch>

  <arg name="display" default="true" />

  <!-- set the color parameter for the segmentation -->
  <!-- can be : ['red','blue','green','yellow'] -->
  <arg name="color" default="$(arg color)" />

  <arg name="saturation_min" default="150" />
  <arg name="size" default="75" />

  <node name="segmentation" pkg="sr_object_segmentation" type="segmentation.py"  >
    <param name="color" value="$(arg color)" />
  </node>

  <node name="tracking" pkg="sr_object_tracking" type="tracking.py"  >
    <param name="saturation" value="$(arg saturation_min)" />
    <param name="size" value="$(arg size)" />
    <param name="color" value="$(arg color)" />
  </node>

  <group if="$(arg display)">
    <node name="viewer" pkg="sr_gui_servoing" type="displaying.py" >
      <param name="saturation" value="$(arg saturation_min)" />
      <param name="color" value="$(arg color)" />
    </node>
  </group>

</launch>
