<launch>
        <include file="$(find openni_launch)launch/openni.launch" >
        <arg name="depth_registration" default="true" />
        </include>

	<arg name="m" default="$(find sr_recognizer)data/models_2opt" doc="Models directory"  />
	<arg name="t" default="$(find sr_recognizer)data/photo1.pcd" doc="Test file"  />
        <arg name="cfg" default="$(find sr_recognizer)/cfg" doc="Folder containing config files"/>
	<arg name="recParam" default="2" doc="Parameter for Recognizer: (0)manual (1-3)auto "/>
	<arg name="arg" default="-z 3.0 -c 5 -g 0.01" doc="Additional arguments as stated in the library. For help arg:=-h. "/>

	<node pkg="sr_recognizer" type="recognizer_server" name="recognizer_server" output="screen">
		<param name="models_dir" value="$(arg m)" />
		<param name="test_file" value="$(arg t)" />
		<param name="cfg" value="$(arg cfg)" />
		<param name="recParam" value="$(arg recParam)" />
		<param name="arg" value="$(arg arg)" />
	</node>

        <node pkg="sr_recognizer" type="recognizer_visualizer" name="recognizer_visualizer" output="screen">

        </node>
        	<arg name="block_packages" default="[sr_blockly_blocks]" />
	        <node name="robot_blockly_backend" pkg="robot_blockly" type="robot_blockly_backend.py" output="screen" />
		<node name="robot_blockly_webserver" pkg="robot_blockly" type="pywebserver.py" output="screen">
    			<rosparam param="block_packages" subst_value="True">$(arg block_packages)</rosparam>
 	</node>


</launch>
