<?xml version="1.0"?>
<robot name="sensor_kinect" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:include filename="$(find sr_camera_launch)/description/astra.gazebo.xacro"/>

  <xacro:macro name="sensor_kinect" params="parent cam_px cam_py cam_pz cam_or cam_op cam_oy">

    <gazebo><static>true</static></gazebo>
    <link name="camera_link">
      <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
         <mesh filename="package://sr_camera_launch/description/kinect.dae"/>
        </geometry>
      </visual>
  	  <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  	    <geometry>
  	      <box size="0.07271 0.27794 0.073"/>
  	    </geometry>
  	  </collision>
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0"
                 iyy="0.0" iyz="0.0"
                 izz="0.0"/>
      </inertial>
    </link>

    <joint name="camera_rgb_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="camera_link"/>
      <child link="camera_rgb_frame"/>
    </joint>
    <link name="camera_rgb_frame"/>

    <joint name="camera_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="camera_rgb_frame" />
      <child link="camera_rgb_optical_frame" />
    </joint>
    <link name="camera_rgb_optical_frame"/>

    <joint name="camera_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="camera_rgb_frame"/>
      <child link="camera_depth_frame"/>
    </joint>
    <link name="camera_depth_frame"/>

    <joint name="camera_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>
      <parent link="camera_depth_frame"/>
      <child link="camera_depth_optical_frame"/>
    </joint>
    <link name="camera_depth_optical_frame"/>
	
	  <!-- Kinect sensor for simulation -->
    <sim_kinect_sensor/>
  </xacro:macro>

  <xacro:sensor_kinect parent="world" cam_px="-1.2" cam_py="2.3" cam_pz="1.8" cam_or="0" 
                       cam_op="${M_PI/4}" cam_oy="${M_PI*7/4}" />
  
</robot>