<launch>
  <arg name="sim" default="true" />
  <arg name="depth_registration" default="true" />
  <arg name="camera" default="camera" />
  <arg name="tf_prefix" default="" />
  <arg if="$(arg sim)" name="pose_estimation" default="false" />
  <arg unless="$(arg sim)" name="pose_estimation" default="true" />
  
  <!-- Real camera -->
  <include unless="$(arg sim)" file="$(find sr_halcon_ensenso)/launch/sr_halcon_ensenso.launch" >
    <arg name="depth_registration" value="$(arg depth_registration)"/>
    <arg name="camera" value="$(arg camera)"/>
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    <arg name="sim" default="false"/>
    <arg name="pose_estimation" value="$(arg pose_estimation)"/>
  </include>

  <!-- Simulated camera -->
  <arg if="$(arg sim)" name="x" default="1.3" />
  <arg if="$(arg sim)" name="y" default="1.3" />
  <arg if="$(arg sim)" name="z" default="1.4" />
  <arg if="$(arg sim)" name="R" default="0.0" />
  <arg if="$(arg sim)" name="P" default="0.6" />
  <arg if="$(arg sim)" name="Y" default="-2.35" />
  
  <!-- If simualating, convert a xacro and put on parameter server -->
  <param if="$(arg sim)" name="camera_description" command="$(find xacro)/xacro.py $(find sr_camera_launch)/description/ensenso.urdf.xacro camera_name:=$(arg camera)" />
  
  <!-- If simualating, spawn a robot into Gazebo -->
  <node if="$(arg sim)" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param camera_description -urdf -model kinect -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)" respawn="false" output="screen" />

  <!-- Frames -->
  <include if="$(arg sim)" file="$(find sr_camera_launch)/launch/ensenso_frames.launch">
    <arg name="camera" value="$(arg camera)"/>
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="pose_estimation" value="$(arg pose_estimation)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="R" value="$(arg R)"/>
    <arg name="P" value="$(arg P)"/>
    <arg name="Y" value="$(arg Y)"/>
  </include>


</launch>
