<launch>

  <arg name="initial_tf" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"/>

  <arg name="base_frame" default="ra_base_link"/>

  <arg name="cam_image_topic" default="/camera/rgb/image_raw" />
  <arg name="cam_info_topic" default="/camera/depth/camera_info" />
  <arg name="camera_frame" default="camera_link" />

  <arg name="marker_size" default="9.0" />
  <arg name="markers_ids" default="['ar_marker_0', 'ar_marker_1', 'ar_marker_2', 'ar_marker_3']"/>
  <arg name="marker_holder_frames" default="['ar_marker_0', 'ar_marker_1', 'ar_marker_2', 'ar_marker_3']"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_tag_link_broadcaster" args="-0.5 1.5 0 -2.35619449 0 0 ra_base_link ar_marker_bundle 1" />
  <node pkg="tf" type="static_transform_publisher" name="ar_tag_0_broadcaster" args="-0.095 0.2 0 0 0 0 ar_marker_bundle ar_marker_0 1" />
  <node pkg="tf" type="static_transform_publisher" name="ar_tag_1_broadcaster" args="0.005 0.2 0 0 0 0 ar_marker_bundle ar_marker_1 1" />
  <node pkg="tf" type="static_transform_publisher" name="ar_tag_2_broadcaster" args="0.005 0.1 0 0 0 0 ar_marker_bundle ar_marker_2 1" />
  <node pkg="tf" type="static_transform_publisher" name="ar_tag_3_broadcaster" args="-0.095 0.1 0 0 0 0 ar_marker_bundle ar_marker_3 1" />


  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="cam_image_topic" value="$(arg cam_image_topic)" />
    <arg name="cam_info_topic" value="$(arg cam_info_topic)" />
    <arg name="output_frame" value="$(arg camera_frame)" />
    <arg name="marker_size" value="$(arg marker_size)" />
  </include>

  <node name="print_camera_tf" pkg="sr_extrinsic_calibration" type="camera_calibration_node" output="screen">
    <rosparam param="initial_tf" subst_value="True">$(arg initial_tf)</rosparam>

    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>

    <rosparam param="marker_holder_frames" subst_value="True">$(arg marker_holder_frames)</rosparam>
    <rosparam param="markers_ids" subst_value="True">$(arg markers_ids)</rosparam>
  </node>
</launch>